<h1>Create a contact</h1>

<%= form_for @changeset, contacts_path(@conn, :create), fn f -> %>
  <%= input f, :name %>
  <%= input f, :email %>
  <%= input f, :phone %>
  <%= submit "Submit" %>
<% end %>
