<h1><%= Map.get(@contact, :name) %></h1>

<div class="show-field-label">
  Name
</div>
<div class="show-field-content">
  <%= Map.get(@contact, :name) %>
  <button type="button"> E </button>
</div>
<div class="edit-field-content">
  <%= render LoudsaInternal.ContactsView, "_edit_field.html", changeset: @changeset, field: :name, conn: @conn, contact: @contact%>
</div>

